<a href="https://colab.research.google.com/github/Geunyeong-Kwon/test/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=[3,15,20]
a.append(50)
print(a)

[3, 15, 20, 50]

In [2]:
a.append("Lion")
print(a)

[3, 15, 20, 50, 'Lion']

In [3]:
a[0]="안녕"
a[2]=7.8
print(a)

['안녕', 15, 7.8, 50, 'Lion']

In [6]:
s=1;n=11;
def arithSum(s,n):
  sum=0;
  for i in range(n):
    sum+=i;
  return sum;
print("Sum of",s,"thru",n-1,"is",arithSum(s,n))

Sum of 1 thru 10 is 55

In [7]:
print('Hello!')
x=77;
print('x is',x,"th")
print("Test")

print('My','name','is','Tom')
print('My','name','is','Tom',sep='*')

x=77;
print('x is ',x,"th")
print('x is ',x,"th ",sep="")

Hello!
x is 77 th
Test
My name is Tom
My*name*is*Tom
x is  77 th
x is 77th

In [9]:
x = 5 #정수
y = 10.5 #실수
z = x+y
print('z is',z)

a=(int)(x+y) #type casting을 통해 정수로 변환, 명시적인 타입 변환
print('a is',a)

x = (20+30) % 10 #10으로 나눈 나머지
print(x)

print(20/3) #실수 나눗셈(/)
print(20//3) #wjdtn sksnttpa(//)

z is 15.5
a is 15
0
6.666666666666667
6

In [10]:
list = ['lion','in','oil']
print(list)

print("5's element")
print('5"s element')
print('''5's element''')
print("4\ 's element \\ 6\"s element")

['lion', 'in', 'oil']
5's element
5"s element
5's element
4\ 's element \ 6"s element

In [11]:
sum=0
A=[0,1,2,3,4,5]
N=6
for i in range(3,N): #시작: 3, 끝:6-1=5, 간격:1
  sum += A[i]
  i += 1
print(sum)

N = 100
K = 200;
print("Enter i")
i = int(input())

if i < N:
  print(i,"is less than ",N)

else:
  print(i,"is no let than ",N)

if i < N:
  print("i <",N)
elif i < K:
  print(N,"<= i <",K)
else:
  print(K,"<= i")

12
Enter i
150
150 is no let than  100
100 <= i < 200

In [12]:
for i in range(10): #시작:0, 끝: 10-1=9, 간격:1
  print(i,end=' ')

print()
for i in range(4,10,2): #시작:4, 끝:10-1=9, 간격:2
  print(i,end=' ')

print()
for i in range(10,4,-2): #시작:10, 끝:4+1=5, 간격:-2
  print(i,end=' ')

0 1 2 3 4 5 6 7 8 9
4 6 8
10 8 6