<a href="https://colab.research.google.com/github/Geunyeong-Kwon/test/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(10):
  print(i,end=' ')

print()
for i in range(4,10,2):
  print(i,end=' ')

print()
for i in range(10,4,-2):
  print(i,end=' ')

0 1 2 3 4 5 6 7 8 9
4 6 8
10 8 6

In [ ]:
print('List1')
for i in [0,1,2,3]:
  print(i,end=' ')

print(),print('\nList2')
s=[4,5,6]
for i in s:
  print(i,end=' ')

print(),print('\nTuple')
for i in (7,8,9):
  print(i,end=' ')

print(),print('\nDictionary')
d={1:10,2:20,3:30,10:40}
for i in d:
  print(i,':',d[i],end=' ')

print(),print('\nString')

List1
0 1 2 3

List2
4 5 6

Tuple
7 8 9

Dictionary
1 : 10 2 : 20 3 : 30 10 : 40

String

(None, None)

In [ ]:
a=3
print(id(a))

a+=1
print(id(a)) #주소 다름

print()
s='test'
print(id(s))
s='trian'
print(id(s)) #주소 다름

print()
b=[1,3,5,7]
print(id(b))

b.append('test')
print(id(b)) #가변 타입은 추가해도 주소 바뀌지X

139986057820528
139986057820560

139986055211120
139985536412912

139986035672320
139986035672320

In [ ]:
#리스트
a=[1,3,5,7]
print(a)

for x in a:
  print(x,end=':')
print()

#튜플
t=(1,3,5,7)
print(t)
for x in t:
  print(x,end=':')
print()

#딕셔너리
d={1:10,3:20,5:30,10:40}
d[3]=222
d[5]=55
for i in d:
  print(i,':',d[i],end=',')
print()

#집합: 순서X 원소 중복X 원소 순서는 상관X 원소의 존재 유무만 중요
a={1,3,5,7}
a.add(3)
a.add(10)
print(a)

[1, 3, 5, 7]
1:3:5:7:
(1, 3, 5, 7)
1:3:5:7:
1 : 10,3 : 222,5 : 55,10 : 40,
{1, 3, 5, 7, 10}

In [ ]:
def twofold1(a):
  a=2*a

def twofold2(a):
  a=2*a
  return a

x=5
twofold1(x)
print(x) #a값 리턴하지 않기 때문에 5 출력, 복사호출

x=5
twofold2(x)
print(x) #a값 리턴해서 10 출력, 참조호출

def sample(a:int,b):
  a=2*a
  b.append('test')

x=5 #정수(불변 타입) -> 복사호출
y=[1,2] #리스트(가변 타입) -> 참조호출
sample(x,y) #x값은 불변, y값은 가변

print(x)
print(y)

5
5
5
[1, 2, 'test']

In [1]:
#클래스
class Sample:
  def __init__(self):
    self.counter=0
  def numEven(self,n): #self가 매개변수로 지정되어야 함
    for k in range(n):
      if k % 2 == 0:
        self.counter += 1
    return self.counter #self.counter값이 리턴되어야 함

s=Sample()
print('# of enen integers =',s.numEven(15))

# of enen integers = 8

In [2]:
class Sample:
  counter2 = 0 # 전역 변수, 클래스 전체에서 사용 가능(메서드 밖에 변수 선언하는 것은 별로 좋지 않음)
  def __init__(self):
    self.counter = 0
  
  def numEven(self,n):
    for k in range(n):
      if k % 2 == 0:
        self.counter += 1
        Sample.counter2 += 1
    return self.counter

s1 = Sample()
s2 = Sample()
s1.numEven(15)
s2.numEven(15)
print(s1.counter,s1.counter2,Sample.counter2)

8 16 16

In [3]:
print('s' in 'east') #keyword 'in': 'east'에 's'가 있으면 True 값을 리턴
print(77 in [10,20,35,50])

for element in 'east': #문자열 'east'를 차례로 훑으면서 element에 할당
  print(element,end='-')
print()

for x in [0,1,2,3]: #리스트 [0,1,2,3]의 모든 원소를 차례로 변수 x에 할당
  print(x,end=' ')

True
False
e-a-s-t-
0 1 2 3